ICT2Client/xml-resources/web-service-references/ICT2WebService/wsdl/localhost_8080/ICT2WebApplication/ICT2WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="ICT2WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/ICT2WebApplication/ICT2WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getLongestStringBetweenWithException">
<part name="parameters" element="tns:getLongestStringBetweenWithException"/>
</message>
<message name="getLongestStringBetweenWithExceptionResponse">
<part name="parameters" element="tns:getLongestStringBetweenWithExceptionResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="addSampleOnServer">
<part name="parameters" element="tns:addSampleOnServer"/>
</message>
<message name="addSampleOnServerResponse">
<part name="parameters" element="tns:addSampleOnServerResponse"/>
</message>
<message name="getLongestStringOnServer">
<part name="parameters" element="tns:getLongestStringOnServer"/>
</message>
<message name="getLongestStringOnServerResponse">
<part name="parameters" element="tns:getLongestStringOnServerResponse"/>
</message>
<message name="isConnected">
<part name="parameters" element="tns:isConnected"/>
</message>
<message name="isConnectedResponse">
<part name="parameters" element="tns:isConnectedResponse"/>
</message>
<message name="getLongestStringBetween">
<part name="parameters" element="tns:getLongestStringBetween"/>
</message>
<message name="getLongestStringBetweenResponse">
<part name="parameters" element="tns:getLongestStringBetweenResponse"/>
</message>
<portType name="ICT2WebService">
<operation name="getLongestStringBetweenWithException">
<input wsam:Action="http://server/ICT2WebService/getLongestStringBetweenWithExceptionRequest" message="tns:getLongestStringBetweenWithException"/>
<output wsam:Action="http://server/ICT2WebService/getLongestStringBetweenWithExceptionResponse" message="tns:getLongestStringBetweenWithExceptionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/ICT2WebService/getLongestStringBetweenWithException/Fault/Exception"/>
</operation>
<operation name="addSampleOnServer">
<input wsam:Action="http://server/ICT2WebService/addSampleOnServerRequest" message="tns:addSampleOnServer"/>
<output wsam:Action="http://server/ICT2WebService/addSampleOnServerResponse" message="tns:addSampleOnServerResponse"/>
</operation>
<operation name="getLongestStringOnServer">
<input wsam:Action="http://server/ICT2WebService/getLongestStringOnServerRequest" message="tns:getLongestStringOnServer"/>
<output wsam:Action="http://server/ICT2WebService/getLongestStringOnServerResponse" message="tns:getLongestStringOnServerResponse"/>
</operation>
<operation name="isConnected">
<input wsam:Action="http://server/ICT2WebService/isConnectedRequest" message="tns:isConnected"/>
<output wsam:Action="http://server/ICT2WebService/isConnectedResponse" message="tns:isConnectedResponse"/>
</operation>
<operation name="getLongestStringBetween">
<input wsam:Action="http://server/ICT2WebService/getLongestStringBetweenRequest" message="tns:getLongestStringBetween"/>
<output wsam:Action="http://server/ICT2WebService/getLongestStringBetweenResponse" message="tns:getLongestStringBetweenResponse"/>
</operation>
</portType>
<binding name="ICT2WebServicePortBinding" type="tns:ICT2WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getLongestStringBetweenWithException">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addSampleOnServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLongestStringOnServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isConnected">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLongestStringBetween">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ICT2WebService">
<port name="ICT2WebServicePort" binding="tns:ICT2WebServicePortBinding">
<soap:address location="http://localhost:8080/ICT2WebApplication/ICT2WebService"/>
</port>
</service>
</definitions>