ICT2Client/xml-resources/web-service-references/ICT2WebService/wsdl/localhost_8080/ICT2WebApplication/ICT2WebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="addSampleOnServer" type="tns:addSampleOnServer"/>

<xs:element name="addSampleOnServerResponse" type="tns:addSampleOnServerResponse"/>

<xs:element name="getLongestStringBetween" type="tns:getLongestStringBetween"/>

<xs:element name="getLongestStringBetweenResponse" type="tns:getLongestStringBetweenResponse"/>

<xs:element name="getLongestStringBetweenWithException" type="tns:getLongestStringBetweenWithException"/>

<xs:element name="getLongestStringBetweenWithExceptionResponse" type="tns:getLongestStringBetweenWithExceptionResponse"/>

<xs:element name="getLongestStringOnServer" type="tns:getLongestStringOnServer"/>

<xs:element name="getLongestStringOnServerResponse" type="tns:getLongestStringOnServerResponse"/>

<xs:element name="isConnected" type="tns:isConnected"/>

<xs:element name="isConnectedResponse" type="tns:isConnectedResponse"/>

<xs:complexType name="getLongestStringOnServer">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLongestStringOnServerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLongestStringBetweenWithException">
<xs:sequence>
<xs:element name="s1" type="xs:string" minOccurs="0"/>
<xs:element name="s2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLongestStringBetweenWithExceptionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addSampleOnServer">
<xs:sequence>
<xs:element name="s" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addSampleOnServerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLongestStringBetween">
<xs:sequence>
<xs:element name="s1" type="xs:string" minOccurs="0"/>
<xs:element name="s2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLongestStringBetweenResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isConnected">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isConnectedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>